<form method="post" action="{{ path('liste.delete', {'id': liste.id}) }}" onsubmit="return confirm('Sind Sie sicher dass Sie dieser Eintrag löschen wollen?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste.id) }}">
    <button class="btn">löschen</button>
</form>
