{% extends 'base.html.twig' %}

{% block title %}Edit Liste{% endblock %}

{% block body %}

<!-- Flash Message -->
{% for message in app.flashes('Erfolg') %}
    <div class="alert alert-success">
        <h4>{{ message }}</h4>
    </div>
{% endfor %}

<br>
<div class="container">
<h2>Gästebuch Eintrag editieren</h2>
<br>

    {{ include('liste/_form.html.twig', {'button_label': 'ändern'}) }}

    <a href="{{ path('liste.index') }}">zurück</a>

    {{ include('liste/_delete_form.html.twig') }}
    </div>
{% endblock %}
