{% extends 'base.html.twig' %}

{% block title %}Hello GerichtController!{% endblock %}

{% block body %}
<br>
<div class="container">
    <h2>Gerichte anlegen</h2>
    <br>
    {{ form( createGerichtForm ) }}


</div>
{% endblock %}
