{% extends 'base.html.twig' %}

{% block body %}

{% for message in app.flashes('nachricht') %}
    <div class="alert alert-success">
        <h3>{{ message }}</h3>
    </div>
{% endfor %}

<!-- Contact section -->
	<section class="contact-section">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-6 p-0">
					<!-- Map -->
					<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.538221930349!2d6.964391916480403!3d50.9507524795475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bf25bdfdb8222f%3A0x23206cdda8202f21!2sKonrad-Adenauer-Ufer%2079%2C%2050668%20K%C3%B6ln%2C%20Deutschland!5e0!3m2!1sde!2sbd!4v1667938203003!5m2!1sde!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
				</div>
				<div class="col-lg-6 p-0">
					<div class="contact-warp">
						<div class="section-title mb-0">
							<h2>Kellner Kontact</h2>
						</div>
						<p><b>Möchten Sie dem Kellner weitere Wünsche zu Ihrer bestellung mitteilen?</b><br><br>Auf dieser Seite haben Sie mit unserem Kontaktformular die Möglichkeit mit unserem qualifizierten, gutbestückten und netten Servicepersonal in Kontakt zu tretten. Egal ob etwas fehlt, oder es sich um extra Wünsche bei unseren Gerichten handelt. Auch Lob Anregungen und Kritik sind gern gesehen. Zögern Sie nicht uns zu kontaktieren.</p>
					
                    	{{form(emailForm)}}
						
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact section end -->
{% endblock %}
